.navBar1{
    background: black;
    margin: 0%;
    border: 0ch;
}

body{  
    background-image: url("img/wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
	background-position: center;
	text-align: center;
}

.logoperrito{
	width: 60px;
	height: 60px;
}

.btnInstructions{
	justify-content: center;
	display: flex;
}

h3{
	text-align: center;
	color: white;
}

h1{
	text-align: center;
	color: white;
}

.keys{
	justify-content: center;
	display: flex;
	border-radius: 20px;
}

.textBox{
	justify-content: center;
	border-radius: 10px;
    display: flex;
    padding: 2%;
}

 .decode-Box{
	
    width: 300px;
	background-color: white;
	justify-content: center;
    border-radius: 10px;
    display: flex;
    padding: 2%;
    }


.buttons{
    justify-content: center;
    border-radius: 10px;
    
}

.decode-box{
    justify-content: center;
    margin-bottom: 30px;
	text-align: center;
    
}

.codedecode{
	text-align: center;
}

.buttons{
	text-align: center;
}

textarea{
	border-radius: 5px;
	text-align:center;
}